@import 'components/header';
@import 'components/body';
@import 'components/footer';
@import 'components/store';
@import 'components/contact';
@import 'components/tattoo';
@import '../SCSS/components/button-book';






@import 'base/variables';




@import '../node_modules/bootstrap/scss/bootstrap';




@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');