@import '../node_modules/bootstrap/scss/bootstrap';
@import 'components/header';
@import 'components/body';
@import 'components/footer';
@import 'components/store';
@import 'components/contact';
@import 'components/tattoo';
@import 'components/barber';
@import 'components/index';
@import '../SCSS/components/button-book';
@import 'components/medias';






@import 'base/variables';
@import 'base/extend';
@import 'base/mixins';









@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');