*{
    margin: 0;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');



body{
    background-color: #474853;
    margin: 0;
    background-image: url(/images/pexels-cottonbro-3826435.jpg)
}
/*CSS Header*/
.header{
    background-color: #AAA0A0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    width: 100%;
}
.header_list{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    list-style: none;
    padding-right: 5%;
    text-decoration: none;
}
.banner{
    width: 100%;
}

.link{
    text-decoration: none;
    color: black;
}

.boton_prueba {
    width: 120px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   .boton_prueba::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: aliceblue;
    z-index: -1;
    transition: all 0.5s;
   }
   
   .boton_prueba:hover::before {
    width: 100%;
   }
   
   .boton_prueba:hover {
    color: black;
   }
   
   .boton_prueba:active:before {
    background: #b9b9b9;
    
   }


.list_item{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    text-decoration-line: none;
 
}
.link_logo{
    display: flex;
    justify-content: center;
    
}
.logo{
    width: 40%;
    padding-left: 5%;
}
/*CSS Header Fin*/

/*CSS Footer*/
footer{
    background-color: #AAA0A0;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;   
    margin-top: 10px;
    
}
.footer_list{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
/*CSS Footer Fin*/

/*Banner*/

/*Sigo sin poder modificar el tamnanio del banner. Quiero que la imagen tenga menos height pero manteniendo el width 100%*/
.section_banner{
    width: 100%;
    height: 400px;
}
.banner_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/*Fin Banner*/

/*Main*/
.main{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.main_mid{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    align-content: center;
    color: aliceblue;
    font-size: large;
    text-align: justify;
}
.h1_home{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 25px;
    color: black;
    background-color: aliceblue;
    width: 100%;
    text-align: center;

}
.main_left{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
    
}
.main_right{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    
    
}
.main_img{ /*Aqui creo que iria una configuracion para hacerlo responsivo, y que cuando se achique el ancho de la pagina las fotos se pongan tipo columna*/
   
    padding: 10px;
    
    min-width: 40%;
    max-width: 100%;
}
/*Fin Main*/

    
/*Tattoo*/

.insta_logo{
    display: inline;
}
.social_logo{
    display: inline;
}
.h2_artist{
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 20px;
    font-size: 50px;
}

.h1_tattoo{
    background-color: aliceblue;
}
.artists{
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: xx-large;
    background-color: aliceblue;
    
}

.pic_profile{
    width: 600px;
    height: auto;
}
.content_img{
    display: flex;
    justify-content: center;   
    max-width: max-content;
    padding-right: 50px
    
}
.info_artists{
    padding-bottom: 20px;
}
.content_bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inconsolata', monospace ;
    color: aliceblue;
    text-align: justify;
    
}

.artist1{
    margin-left: 25px;
    display: flex;
    justify-content: center;
    width: 65%;
    padding: 0 0 50px 25px;
    
    
    
}
.artist2{
    margin-left: 25px;
    display: flex;
    justify-content: center;
    width: 65%;
    padding: 0 0 50px 25px;
    
}
.artist3{
    margin-left: 25px;
    display: flex;
    justify-content: center;
    width: 65%;
    padding: 0 0 50px 25px;
    
}
.artist4{
    margin-left: 25px;
    display: flex;
    justify-content: center;
    width: 65%;
    padding: 0 0 50px 25px;
    
}

.social_bottom{
    padding-bottom: 35px;
}
/* From cssbuttons.io */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
    
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: aliceblue;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }



   /*Barber*/
.box_1{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.barber{
    display: flex;
    
}

.list_img{
    display: flex;
    align-items: flex-start;
}


.barber_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 50px 50px 50px;
    
}
.h2_content{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    background-color: aliceblue;
    width: 100%;
    margin-bottom: 20px;
}

.barber_p{
        font-family: 'Inconsolata', monospace ;
       color: aliceblue;
       font-size: large;
       text-align: justify;
}




 
.list_prices{
    display: flex;
    align-content: center;    
    margin: 0 50px 50px 50px;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}
.services{
    display: flex;
    background-color: aliceblue;
    display: flex;
    align-content: center;
    justify-content: center;

}
.list_services{
    padding: 20px 0 20px 0;
    justify-content: center;
}
.list_li{
       border-style: hidden hidden dashed hidden;
       list-style: none ;
       font-family: 'Inconsolata', monospace ;
       color: aliceblue;
       font-size: x-large;
       margin-bottom: 15px;
   }

.h2_services{
    
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    background-color: aliceblue;
    width: 100%;
    margin-bottom: 15px;

}

.img_content{
    display: flex;
    width: 40%;
    
}


.img_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 40%;
    align-items: center;
    
    
}
.img{
    display: flex;
    width: 100%;
}

.img_section div {
    flex: 1 1 200px;
}




.contact_header{
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 50px;
    background-color: aliceblue;
}

.contact_form{
    display: inline;
    width: 100%;
}

.contact_us{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 50px;
    background-color: aliceblue;
    width: 40%;
    align-items: center;
}



.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.contact_map{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;

}

.form_map{
    display: flex;
    align-items: stretch;
    justify-content: center;
  
    margin: 0 50px 50px 50px;
}

.address{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 50px;
    background-color: aliceblue;
    width: 40%;
}


.form-row [type='text'],
.form-row [type='email'],
.form-row [type='number']{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    width: 60%;
}


label{
    
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    
    font-weight: bolder;
    width: 100%;
    color: aliceblue;
    
    
}

input{
   margin-top: 10px;
   margin-bottom: 10px;
   
}

.form-row-comment{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 60%;
}

textarea{
    margin: 10px 0 10px 0;
    
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;

    
}

form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

legend{
    
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    width: 30%;
   
    
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5995DA;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
}

.form-row button:active {
    background-color: #407FC7;
}


fieldset label {
    color: black;
    display: inline;
    width: 60%;
    
}

.form-row-comment p{
    color: aliceblue;
    display: flex;

}

.fieldset-row{
    width:100%;
}


.store-link{
    color: grey;
    text-decoration: none;
    
}

.store-link:hover{
    color: mediumpurple;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

.store-p{
    margin-top: 15px;
    border: 3px solid ;
    border-radius: 10px;
    background-color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    color: black;
    padding: 25px;
    font-size: x-large;
}




/*Desafio GRID */



.parent{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr .5fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas:     
    'product1 product2 aside'
    'product3 product4 aside'
    'product5 product6 aside'
    
}


.aside_store{
    grid-area: aside;
    background-color: mediumaquamarine;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}



.product1{
    grid-area: product1;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;


}
.product2{
    grid-area: product2;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;

}
.product3{
    grid-area: product3;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;

}
.product4{
    grid-area: product4;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;

}

.product5{
    grid-area: product5;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;

}

.product6{
    grid-area: product6;
    background-color: mediumaquamarine;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px aquamarine solid;
    font-family: 'Bebas Neue', cursive;

}

.productimg{
    width: 75%;
}



