@import '../base/variables';
@import '../base/extend';

.container{

    p{
        @extend %paragraphs
    }
    .list_prices{
        display: flex;
        align-content: center;        
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        @extend %paragraphs;

        
        
    }
    .barber-img{

     
            

            .img{
                display: flex;
                width: 100%;
                padding: 15px;
            }
            
            .img_section div {
                flex: 1 1 200px;
                
            }


        }
    }

.col{
    padding: 24px;
}

.img_section{
            
           
   
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
                    
    
    
}