@import '../base/variables';

.container{
    p{
        color: $paragraph-color;
        font-family: $paragraph-font;
        font-size: $paragraph-size;
    }
    .list_prices{
        display: flex;
        align-content: center;    
        
        flex-direction: column;
        justify-content: center;
       
        color: $paragraph-color;
        font-family: $title-font;
        font-size: $paragraph-size;
        
    }
    .barber-img{
   
        
            
            .img_section{
            
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 10px;
                
                align-items: center;
                justify-items: center;
            
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.12);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.32);
                
                
                
            }
            .img{
                display: flex;
                width: 100%;
                padding: 15px;
            }
            
            .img_section div {
                flex: 1 1 200px;
                
            }
            .col{
                margin-bottom: 10px;
                align-items: center;
            }
            
            .row{
                
                margin: 0;
            }
        }
    }



