@import "../base/variables";
@import '../base/extend';



.form-section{
    color: $title-bg;
    font-family: $title-font;
    font-weight: bolder;
    
    
            h2{
                @extend %titles;
                text-align: center;


            }
        }


