@import "../base/variables";



.form-section{
    color: $title-bg;
    font-family: $title-font;
    font-weight: bolder;
    
    
            h2{
                color: $title-color;
                background-color: $title-bg;
                text-align: center;
                font-family: $title-font;
                font-size: $title-size;

            }
        }


