.form-section{
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    
        .div-1{
            width: 45%;

        }
            h2{
                color: black;
                background-color: aliceblue;
                text-align: center;
                font-family: 'Bebas Neue', cursive;
                font-size: 3rem;

            }
        }


