@import '../base/variables';


footer{
    
    background-color: $nav-bg;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    
   
    .footer_item{
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        font-family: $title-font;
    }

    .logo_footer{
        width: 15%;
    }



}
