@import '../base/mixins';
@import '../base/mapas';

.carousel-item img { /*Se agrega para arreglar height imgs carousel*/
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
  }


.store-link{
    color: grey;
    text-decoration: none;
    color: black;

    
}

.store-link:hover{
    color: mediumpurple;
    background-color: black;
    border-radius: 5px;
    
}

.store-p{
    #map{    
    border-radius: map-get($map: $prueba-map, $key: border-radius-map );
    background-color: map-get($map: $prueba-map, $key: background-color-map);
    border: map-get($map: $prueba-map, $key: border-map );
    }
    margin-top: 15px;
   
    padding: 25px;
    width: 45%;
    align-items: center;
    p{
        font-family: 'Bebas Neue', cursive;
        color: black;
    }
}