



@media screen and (max-width: 968px){
    .media-centrado{
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .media-margin-top{
        margin-top: 3rem;
    }
    .media-hide{
        display: none;
    }
}

@media  screen and (orientation: landscape) and (max-width: 968px)  {

}

/* @media desktop*/

@media screen and (min-width: 969px) {

    .carrusel-hide {
        display: none;
    }


    .media-desktop{
        display: flex;        
        justify-content: space-between;
        width: 45%;
    }
}