
.store-prueba{
    padding: 0;

    .title{
        background-color: aliceblue;
        color: black;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .paragraph{
        color: aliceblue;
        font-family: 'Inconsolata', monospace;
        font-size: large;
        text-align: justify;    
        font-weight: bolder; 
    }
}


.title-1{
        background-color: aliceblue;
        color: black;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 4rem;
        
        
  
}


