@import '../base/mixins';
.store-prueba{
    

    .title{
        background-color: $title-bg;
        color: $title-color;
        font-family: $title-font;
        text-align: center;
        font-size: $title-size;
        margin-bottom: 1rem;
    }
    .paragraph{
        @include texts(aliceblue, 'Bebas Neue', 1.5rem, normal);
        text-align: justify;    
         
    }
}


.title-1{
        background-color: $title-bg;
        color: $title-color;
        font-family: $title-font;
        text-align: center;
        font-size: $title-size;
  
        
        
  
}


