@import '../base/variables';

.h2_services{
    color: $title-color;
    background-color: $title-bg;
    font-family: $title-font;
    font-size: $title-size;
    text-align: center;




}



.content_bio{
    color: $paragraph-color;
    font-family: $paragraph-font;
    font-size: $paragraph-size;
}

