
%paragraphs{
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
}

%titles{
    color: black;
    background-color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}