

/*Colors*/

$nav-bg: #AAA0A0;
$paragraph-color: aliceblue;
$title-color: black;
$title-bg: aliceblue;


/*Fonts*/

$title-font: 'Bebas Neue', cursive;
$title-size: 3rem;
$paragraph-font: 'Inconsolata', monospace;
$paragraph-size: 1.5rem;



/*IMG prueba*/

.pic_profile{
    width: 600px;
    height: auto;
}
